* {
    box-sizing: border-box;
}

body {
    margin-left:  160px;
    font-family: fantasy;
    height: 100vh;
    padding: 0, 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(47,89,191);
    background: -moz-linear-gradient(180deg, rgba(47,89,191,1) 0%, rgba(48,34,69,1) 90%, rgba(7,14,40,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(47,89,191,1) 0%, rgba(48,34,69,1) 90%, rgba(7,14,40,1) 100%);
    background: linear-gradient(180deg, rgba(47,89,191,1) 0%, rgba(48,34,69,1) 90%, rgba(7,14,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f59bf",endColorstr="#070e28",GradientType=1);
}

h1,h3 {
    color: whitesmoke;
    font-family: fantasy;
    font-style: oblique;
    text-shadow: 25px, 25px, 30px, white;
    min-height: 4vh;
    margin-left: 7vmin;
}

h1 {
    font-size: 3em;
    margin-top: 1em;
}

h3 {
    font-size: 1.5em;
}

#win-lose {
    color: whitesmoke;
    text-shadow: 5px, 5px, 5px, black;
    font-family: fantasy;
    font-style: oblique;
    font-size: 1.25rem;
    margin-left: 7vmin;
    margin-top: 7vmin;
}

#bad-guess, #score {
    color: whitesmoke;
    text-shadow: 5px, 5px, 5px, white;
    margin-left: 7vmin;
    font-style: oblique;
}

#score {
    margin: 5vmin;
    padding-left: 15px;
    font-family: fantasy;
    font-size: 1.65em;
}

#bad-guess {
    font-size: 1.5em;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 15vmin);
    margin-left: 7vmin;
    gap: 1vmin;
    

    img {
        width: 15vmin;
        border-radius: 25px;
    }
    
}

#sidebar-nav {
    height: 100vh;
    width: 30vmin;
    max-width: 30vmin;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 25vmin;
    overflow-x: hidden;
    background-color: rgb(53, 64, 136);
    padding-right: 6vmin;
}

button {
    background-color: rgb(53, 64, 136);
    color: white;
    text-shadow: 3px, 3px, 3px, black;
    border-radius: 15px;
    font-size: 2vmin;
    font-family: fantasy;
    width: 275px;
    position: relative;
    padding: 1.75vmin;
    margin-top: 6vmin;
}












