* {
    box-sizing: border-box;
}

body {
    margin-left:  23vmin;
    font-family: fantasy;
    height: 100vh;
    padding: 0, 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(47,89,191);
    background: -moz-linear-gradient(180deg, rgba(47,89,191,1) 0%, rgba(48,34,69,1) 90%, rgba(7,14,40,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(47,89,191,1) 0%, rgba(48,34,69,1) 90%, rgba(7,14,40,1) 100%);
    background: linear-gradient(180deg, rgba(47,89,191,1) 0%, rgba(48,34,69,1) 90%, rgba(7,14,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f59bf",endColorstr="#070e28",GradientType=1);
}

h1,h3 {
    color: whitesmoke;
    font-family: fantasy;
    font-style: oblique;
    text-shadow: 2px 3px 2px rgb(17 43 125 / 65%);
    margin-left: 2vmin;
    padding-left: 2vmin;
}

h1 {
    font-size: 5vmin;
    margin-top: 2vmax;
    margin-bottom: 2vmax;

}

h3 {
    font-size: 3.5vmin;
}

#win-lose {
    color: whitesmoke;
    text-shadow: 2px 3px 2px rgb(17 43 125 / 45%);
    font-family: fantasy;
    font-style: oblique;
    font-size: 3vmin;
    margin-left: 2vmin;
    margin-top: 7vmin;
}

#bad-guess, #score {
    color: whitesmoke;
    text-shadow: 2px 3px 2px rgb(17 43 125 / 45%);
    margin-left: 4vmin;
    margin-bottom: 1vmin;
    font-style: oblique;
}

#score {
    margin: 3vmin;
    padding-left: 1vmin;
    font-family: fantasy;
    font-size: 5vmin;
    padding-top: 1vmax;
}

#bad-guess {
    font-size: 3vmin;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 15vmin);
    margin-left: 7vmin;
    gap: 1vmin;
    
    
    img {
        width: 15vmin;
        border-radius: 25px;
        box-shadow: 5px 8px 10px -2px rgb(91 158 237 / 45%);
    }
    
}

#sidebar-nav {
    height: 100vh;
    width: 7vmax;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 4vmax;
    overflow-x: hidden;
    background-color: rgb(53, 64, 136);
    padding-right: 2vmax;
    min-width: 25vmin;
}

button {
    background-color: rgb(53, 64, 136);
    color: white;
    text-align: center;
    text-shadow: 2px 3px 2px rgb(17 43 125 / 45%);
    box-shadow: 5px 8px 10px -2px rgb(91 158 237 / 45%);
    border-radius: 75px;
    font-size: 3vmin;
    font-family: fantasy;
    line-height: 45px;
    width: 17vmax;
    position: relative;
    padding: 1.75vmin;
    margin-top: 6vmin;
    margin-left: 3vmax;
    cursor: pointer;
}

/*@media (max-width: 500px) {
    body {
        margin-left: 23vmin;
    }
    h1 {
        font-size: 5vmin;
        margin-top: 2vmax;
        
    }
    h3 {
        font-size: 1.5vmax;
    }
    h1,h3 {
        margin-left: 2vmin;
        padding-left: 2vmin;
    }
    #win-lose {
        font-size: 3vmin;
        margin-left: 2vmin;
        margin-top: 7vmin;
    }
    #score {
        font-size: 5vmin;
        margin: 3vmin;
        padding-left: 1vmin;
    }
    #bad-guess {
        font-size: 3vmin;
        margin-left: 4vmin;
        margin-bottom: 1vmin;
        padding-top: 1vmax;
    }
    button {
        font-size: 3vmin;
        width: 17vmax;
        padding: 1.75vmin;
        margin-top: 6vmin;
        margin-left: 3vmax;
    }
}*/











