* {
    box-sizing: border-box;
}

body {
    margin-left:  160px;
    font-family: fantasy;
    height: 100vh;
    padding: 0, 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to Right,#7ef29d ,#0f68a9);
}

h1,h3 {
    color: whitesmoke;
    font-family: fantasy;
    font-style: oblique;
    text-shadow: 25px, 25px, 30px, black;
    min-height: 4vh;
    margin-left: 7vmin;
}

#win-lose {
    color: whitesmoke;
    text-shadow: 5px, 5px, 5px, black;
    font-family: fantasy;
    font-style: oblique;
    size: 25vmin;
    margin-left: 7vmin;
    margin-top: 7vmin;
}

#bad-guess, #score {
    color: whitesmoke;
    text-shadow: 5px, 5px, 5px, black;
    margin-left: 7vmin;
    font-style: oblique;
}

#score {
    margin: 5vmin;
    padding-left: 15px;
    font-family: fantasy;
    font-size: larger;
}

#cards {
    display: grid;
    box-shadow: 5px, 5px, 5px, #0f68a9;
    grid-template-columns: repeat(4, 15vmin);
    margin-left: 7vmin;
    gap: 1vmin;
    

    img {
        width: 15vmin;
        border-radius: 25px;
    }
    
}

#sidebar-nav {
    height: 100vh;
    width: 30vmin;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 25vmin;
    overflow-x: hidden;
    background-color: rgb(53, 64, 136);
    padding-right: 6vmin;
}

button {
    background-color: rgb(93, 141, 213);
    color: rgb(9, 18, 83);
    padding: 1vmin;
    margin-bottom: 3vmin;
    
}












