* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

sections {
    display: inline-flex;
    background-image: -moz-linear-gradient(to Right,#7ef29d ,#0f68a9);
}

section > .cards {
    border-radius: 25px;
    color: #FFFACD;
}








