* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

section#background {
    display: inline-flex;
    background-image: -moz-linear-gradient(toRight,#7ef29d ,#0f68a9);
}

section > .cards {
    display: inline-flex;
    border-radius: 25px;
    color: #FFFACD;
    
}

button {
    background-color: #FFEFD5;
    color: #4B3621;
}












